@model TiggerAsp.Areas.Admin.Models.UserViewModel
@{ 
    ViewData["Title"] = " | Manager Users";
}

<h1 class="mb-2">Manage Users</h1><br />

<h5 class="mt-2"><a asp-action="Add">Add a User</a></h5>


