@{
    ViewBag.Title = "Home";
}

    <div class="container">
        <header>
            <style>
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            </style>
        </header>
        <main>
            <div class="container">
                    <h3 class="text-center">
                        <br />A place for family members to share, comment on,
                        <br />and to just enjoy browsing family photos.
                    </h3>
                    <br />
                    <img src="~/images/EH-001downsized.jpg" alt="Early Hendrix Family"
                         class="img-fluid center-block img-thumbnail"/>
            </div>
        </main>
    </div>